<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.views">
      <view
            category="com.mg.merp.wb.views"
            class="com.mg.merp.wb.report.deployer.ui.RptView"
            icon="resources/rpt.gif"
            id="com.mg.merp.wb.report.deployer.ui.RptView"
            name="%RptView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.mg.merp.wb.report.deployer.ReportMenu"
            nameFilter="*.rptdesign"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="reportMenu"
               label="%ReportMenu.label"
               path="additions">
            <separator name="reportGroupSeparator"/>
         </menu>
         <action
               class="com.mg.merp.wb.report.deployer.support.MenuController"
               enablesFor="1"
               id="com.mg.merp.wb.report.deployer.menu.Add"
               label="%AddReport.label"
               menubarPath="reportMenu/reportGroupSeparator">
            <enablement>
               <pluginState
                     id="com.mg.merp.wb.report.deployer"
                     value="activated"/>
            </enablement>
         </action>
         <action
         		class="com.mg.merp.wb.report.deployer.support.MenuController"
         		enablesFor="*"
         		id="com.mg.merp.wb.report.deployer.menu.Del"
         		label="%DelReport.label"
         		menubarPath="reportMenu/reportGroupSeparator">
      		<enablement>
         		<pluginState
               		id="com.mg.merp.wb.report.deployer"
               		value="activated"/>
      		</enablement>
   		 </action>               
   		 <action
            	class="com.mg.merp.wb.report.deployer.support.MenuController"
            	enablesFor="1"
            	id="com.mg.merp.wb.report.deployer.menu.Edit"
            	label="%EditReport.label"
            	menubarPath="reportMenu/reportGroupSeparator">
            <enablement>
         		<pluginState
               		id="com.mg.merp.wb.report.deployer"
		            value="activated"/>
			</enablement>	
      	 </action>       
         <action
               class="com.mg.merp.wb.report.deployer.support.MenuController"
               enablesFor="1"
               id="com.mg.merp.wb.report.deployer.menu.Deploy"
               label="%DeployReport.label"
               menubarPath="reportMenu/reportGroupSeparator">
			<enablement>
         		<pluginState
               		id="com.mg.merp.wb.report.deployer"
		            value="activated"/>
			</enablement>               
      	 </action>	
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mg.merp.wb.report.deployer.support.editor.RptEditorForm"
            icon="resources/rpt.gif"
            id="com.mg.merp.wb.report.deployer.ReportEditor"
            name="ReportEditor"/>
   </extension>

</plugin>
