<!-- <?xml version='1.0' encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.3CR3//EN"
                      "../../../../docbook-support/support/docbook-dtd/docbookx.dtd"
[
<!ENTITY chap_settings SYSTEM "modules/settings.xml">
<!ENTITY merp "Millennium ERP">
<!ENTITY payment "Журнал платежей">
<!ENTITY cont_centr "Центр управления">
<!ENTITY cash "Денежные средства">
<!ENTITY acc "Бухгалтерский учёт">
]> -->
<chapter id="settings">
<title>Настройка</title>

    <para>Группы документов для автоматического формирования книги покупок и книги продаж 
    с использованием Журнала платежей производится в конфигурации модуля 
    &quot;&acc;&quot;. </para>
    
    <para>Конфигурация доступна через главное меню системы:
     <menuchoice> <guimenu>&cont_centr;</guimenu>
        <guisubmenu>Администрирование</guisubmenu>
	<guisubmenu>Конфигурация</guisubmenu>
        <guimenuitem>&acc;</guimenuitem>
	</menuchoice>
    </para>
    
    <para> <emphasis>Параметры формирования книги покупок. </emphasis> 
    Для автоматического формирования книги покупок укажите группы документов: </para>
    
    <para><guibutton>Группа документов, подтверждающих поставку. </guibutton>
    Если тип документа входит в группу документов, указанную в этом поле, то 
    отработка этого документа в Журнале платежей означает факт поставки. </para>
    
    <para><guibutton>Группа документов - счетов-фактур.</guibutton> В этом поле 
    укажите группу, объединяющую типы счетов-фактур, сопровождающих получение товара.</para>
    
    <para>Запись в книге покупок создаётся на минимальную сумму из сумм оплаты и поставки. </para>

    <para> </para>

    <para><emphasis>Параметры формирования книги продаж.</emphasis> 
    Книга продаж формируется <emphasis>по отгрузке</emphasis> или <emphasis>по оплате</emphasis>. </para>

    <para><guibutton>Группа документов, подтверждающих поставку.</guibutton> В этом поле
    укажите группу, объединяющую типы документов (накладных, актов), подтверждающих поставку.  </para>

    <para><guibutton>Группа документов - счетов-фактур.</guibutton> В этом поле 
    укажите группу, объединяющую типы счетов-фактур, выписываемых при отгрузке товара. </para>

    <para><guibutton>Группа документов - авансовых счетов-фактур.</guibutton> Если 
    выбран тип формирования книги продаж &quot;по оплате&quot;, укажите группу 
    счетов-фактур, при отработке которых в Журнале платежей учитывается авансовый платёж. </para>

    <para> </para>

    <para><emphasis>Внимание:</emphasis> недопустимо указывать одну и ту же группу для 
    документов, подтверждающих поставку, и для документов - счетов-фактур. </para>
    
</chapter>
