<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
      point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
    <dataSourceUI id="com.mg.jet.birt.report.data.oda.ejbql">
      <newDataSourceWizard
          includesProgressMonitor="false"
          pageClass="com.mg.jet.birt.report.data.oda.ejbql.ui.HibernateDataSourceWizard"
          pageTitle="%wizard.data.source.page.title"
          windowTitle="%wizard.window.title"/>
    </dataSourceUI>
    <dataSetUI
        id="com.mg.jet.birt.report.data.oda.ejbql.dataSet"
        initialPageId="org.eclipse.birt.report.data.oda.hibernate.ui.HibernatePage"
        supportsInParameters="true"
        supportsOutParameters="false">
      <dataSetWizard
          class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
          windowTitle="%datasetWizard.windowsTitle"/>
      <dataSetPage
          displayName="%dataset.editor.page.query"
          id="com.mg.jet.birt.report.data.oda.ejbql.ui.HibernatePage"
          path="/"
          wizardPageClass="com.mg.jet.birt.report.data.oda.ejbql.ui.HibernateHqlSelectionPage"/>
    </dataSetUI>
  </extension>
  <extension
      point="org.eclipse.ui.propertyPages">
    <page
        class="com.mg.jet.birt.report.data.oda.ejbql.ui.HibernatePropertyPage"
        id="com.mg.jet.birt.report.data.oda.ejbql"
        name="%profile.propertypage.name">
      <filter
          name="org.eclipse.datatools.profile.property.id"
          value="com.mg.jet.birt.report.data.oda.ejbql"/>
    </page>
  </extension>
  <extension
      point="org.eclipse.datatools.connectivity.connectionProfile">
    <category
        id="com.mg.jet.birt.report.data.oda.ejbql"
        name="%datasource.name"
        parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"/>
    <connectionProfile
        category="com.mg.jet.birt.report.data.oda.ejbql"
        id="com.mg.jet.birt.report.data.oda.ejbql"
        name="%connection.profile.name"
        pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
    org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory
    <connectionFactory
        class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
        id="org.eclipse.datatools.connectivity.oda.IConnection"
        name="%oda.connection.factory.name"
        profile="com.mg.jet.birt.report.data.oda.ejbql"/>
    <newWizard
        class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
        description="%newwizard.description"
        id="com.mg.jet.birt.report.data.oda.ejbql"
        name="%datasource.name"
        profile="com.mg.jet.birt.report.data.oda.ejbql"/>
  </extension>

</plugin>
